/* You can add global styles to this file, and also import other style files */

div{
    background: cornflowerblue;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
}